#footer{
	width:1000px;
	height:135px;
	display:table;
	margin-top: 2px;
	}
	
#background-footer{
	position: absolute;
	width: 100%;
	height: 135px;
	left: 0;
	background: #622280;
	z-index: -1;
}

#footer #content{
	display: table;
	height: 105px;
	width: 970px;
	margin: 15px;
}

#footer #content .right #contentAct{
	height:105px;
	display:table-cell;
	vertical-align:middle;
}

#footer #content .left .links-footer{
	float:left;
	width:100px;
	height:auto;
}

#footer #content .left #link-footer{
	display:table-cell;
	height:105px;
	vertical-align:middle;
}