@charset "UTF-8";
/* CSS Document */

.left{float:left !important} .right{float:right !important}
	
.title_edition{width:100%; height:auto; font-family:Unbuntu; font-size:14px; color:#555555; font-style:italic; font-weight:bold}
.title_edition:hover{text-decoration:underline}

.body_edition img{width:150px; height:195px; float:left; display:block}
.body_edition{margin-right:15px}